.register-section {
    max-width: 811px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 75px;

}

.registr {
    font-size: 20px;
    line-height: 24.55px;
    color: #828282;
    font-family: sans-serif;
    margin-right: 10px;
}

.create {
    font-size: 20px;
    line-height: 24.55px;
    font-weight: 600 bold;
    color: #7F265B;
    font-family: sans-serif;
}