.title-block {
    text-align: center;
    color: #73114B;
    margin-top: 170px;
}

h1 {
    line-height: 54.56px;
    font-size: 40px;
    text-align: center;
}

p {
    font-size: 25px;
    line-height: 34px;
}

@media only screen and (max-width: 725px) {
    h1 {
        line-height: 20px;
        font-size: 30px;
    }

    p {
        font-size: 20px;
    }

}